package ${groupId}.${artifactId}.bean.base;

$javaType.Date

#foreach($column in $!{columns})
    $column.columnName : $!column.javaType
    #*
    #foreach($javaType in $EmJavaType)
        #if($!column.javaType.equalsIgnoreCase($javaType.name()))
import $javaType.clazz;
        #end
    #end
    *#
    #if($!column.javaType.equalsIgnoreCase("Date"))
    import $javaType.get($!column.javaType)
        #break
    #end
    #*
    #if($!column.javaType.equalsIgnoreCase("Date"))
import java.util.Date;
    #end
    *#
#end